.toggle-info-button:hover
{
    color: #888888;
    cursor: pointer;
}

.add-to-list-button:hover
{
    color: #888888;
    cursor: pointer;
}

.remove-from-list-button:hover
{
    color: #888888;
    cursor: pointer;
}

.edit-register-button:hover
{
    color: #888888;
    cursor: pointer;
}

.close-value-editor-button
{
    margin-bottom: 1px;
}

.write-value-editor-button
{
    margin-top: 1px;
}

.value-editor-button
{
    color: black;
    background-color: #CCCCCC;
    padding: 3px;
    font-size: 11px;
}

.value-editor-button:hover
{
    background-color: #AAAAAA;
    cursor: pointer;
}

.write-controls-holder
{
    height: 11px;
    width: 120px;
    font-size: 12px;
}

.write-controls-holder .write-confirm-msg
{
    float: left;
}

.write-controls-holder .write-value-editor-button
{
    float: right;
}

.value-edit-controls
{
    display: none;
}

.value-edit-controls .icon
{
    width: 10px;
    height: 10px;
}

.write-reg-value-input
{
    margin-bottom: 0px !important;
    width: 120px;
}

.write-confirm-msg
{
    margin-top: 4px;
}

.register-description
{
    display: none;
}

.register-row
{
    background-color: white;
    font-size: 14px;
}

.register-row td
{
    word-wrap: break-word;
}

.small-table-row:nth-child(odd)
{
    background-color: #F9F9F9;
}

.big-table-row:nth-child(4n-1)
{
    background-color: #F9F9F9;
}

.description-section
{
    margin-bottom: 5px;
}

.description-header
{
    font-weight: bold;
}

.write-confirm-msg
{
    display:none;
}

#register-matrix-search
{
    margin-top: 50px;
}

#tablePagination { 
    background-color: #E0E0E0; 
    padding: 5px 5px; 
    height: 40px;
}

#tablePagination_paginater { 
    margin-left: auto; 
    margin-right: auto;
}

#tablePagination img { 
    padding: 0px 2px; 
    margin: 1px;
}

#tablePagination img:hover { 
    padding: 0px 2px; 
    border: 1px solid #A0A0A0;
    margin: 0;
}

#tablePagination select { 
    width: 100px;
}

#tablePagination_perPage { 
    float: left; 
}

#tablePagination_paginater { 
    float: right; 
}

#watch-config-tooltip
{
    /*position: relative;
    width: 45px;
    height: 50px;
    line-height: 12px;
    padding: 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    top: -14px;
    text-transform: lowercase;
    letter-spacing: 0;*/
    position: relative;
    width: 100px;
    height: 15px;
    line-height: 12px;
    padding: 5px 5px 10px 8px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    top: -8px;
    text-transform: lowercase;
    letter-spacing: 0;
    float: right;
}

#watch-config-tooltip:after
{
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: 24px;
}

#register-matrix-body table
{
    table-layout: fixed;
    min-width: 620px;
}
#register-matrix th {
    padding:2px;
}
#register-matrix .addressTableColumn{
    width: 56px;
}
#register-matrix .nameTableColumn{
    width:264px;
}
#register-matrix .typeTableColumn{
    width: 73px;
}

