<div class="device-selector-holder">
    <h1>Select Devices <button id="refresh-button" class="btn btn-primary">Refresh Devices >></button><button id="finish-button" class="btn btn-primary">Finish >></button></h1>
    <div id="alert-message" class="alert">
      <button type="button" class="close close-alert-button"></button>
      <div id="error-display"></div>
    </div>
    <div class="device-pane">
        {{#noDevices}}
        Sorry, no devices found... Please check your network and / or USB ports and try again.
        {{/noDevices}}
        {{#device_types}}
        <div id="t7DeviceListBox" class="device-pane-section connection-type">
            <div class="device-pane-popover">
                <div class="arrow"></div>
                <div class="label">{{name}}</div>
            </div>
            <div class="devices-enumeration-scroller">
                <div class="well {{size}}">
                    {{#devices}}
                    <table class="device"><tr>
                        <td id="image"><img src="static/img/devices/{{ typeStr }}{{specialImageSuffix}}.png"></td>
                        <td class="connection-buttons-holder">
                            <div id="connect-buttons">
                                {{#connections}}
                                <div class="connect-button-holder"><button id="{{../type}}-{{../serial}}-{{ipSafe}}-{{typeStr}}-{{type}}-{{../origDeviceType}}" class="btn btn-success connect-button" title="Connect using {{typeStr}}">{{typeStr}}</button></div>
                                {{/connections}}
                            </div>
                            <div id="disconnect-button-holder" class="hidden-button-holder">
                                <div><button class="btn btn-danger disconnect-button" id="{{serial}}-disconnect">
                                    Disconnect
                                </button></div>
                                <div class="current-connection-indicator"></div>
                            </div>
                        </td>
                        <td id="info-holder">
                            <div id="info">
                                <table>
                                    <tbody>
                                        <tr><td class="device-attribute-label">Model</td><td id="type" class="device-attribute-value">{{type}}{{specialText}}</td></tr>
                                        <tr><td class="device-attribute-label">Serial</td><td id="serial" class="device-attribute-value">{{serial}}</td></tr>
                                        <tr><td class="device-attribute-label">Name</td><td id="name" class="device-attribute-value">{{name}}</td></tr>
                                        <tr><td class="device-attribute-label">Eth. IP</td><td id="ethernet-ip-address" class="device-attribute-value">{{ethernetIPAddress}}</td></tr>
                                        {{#wifiIPAddress}}
                                        <tr><td class="device-attribute-label">WiFi IP</td><td id="wifi-ip-address" class="device-attribute-value">{{.}}</td></tr>
                                        {{/wifiIPAddress}}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr></table>
                    {{/devices}}
                </div>
            </div>
        </div>
        {{/device_types}}
    </div>
</div>
