<div class="device-selector-holder">
    <div id="logo-holder"><img src="static/img/labjack-logo.png"></div>
    <h1>Select Devices <button id="refresh-button" class="btn btn-primary">Refresh Devices >></button><button id="finish-button" class="btn btn-primary">Continue >></button></h1>
    <div id="versionNumbers" class="labjackVersions">
        <h4>Versions</hr>
        <table class="table">
            <tr id="kipling" class="lvm_link" title="Up to date">
                <td class="ljVersionNumbers lvm_name">Kipling</td>
                <td class="ljVersionNumbers lvm_version">{{kiplingVersionNumber}}</td>
            </tr>
            <tr id="ljm" class="lvm_link" title="Up to date">
                <td class="ljVersionNumbers lvm_name">LJM</td>
                <td class="ljVersionNumbers lvm_version">{{ljmVersionNumber}}</td>
            </tr>
            <tr id="ljm_wrapper" class="lvm_link" title="Up to date">
                <td class="ljVersionNumbers lvm_name">LJM Wrapper</td>
                <td class="ljVersionNumbers lvm_version">{{ljmWrapperVersionNumber}}</td>
            </tr>
        </table>
        <button id="showUpgradeLinks" class="upgradeGuiControlButton btn btn-info" style="display:none">View Updates</button>
    </div>
    <div id="lvm_upgrade_box" class="labjackVersions" style="display:none">
        <h4>Available Upgrades</h4>
        <table id="upgradeLinksList"></table>
        <button id="closeUpgradeLinkWindow" class="upgradeGuiControlButton btn btn-info">Close</button>
    </div>
    <div id="alert-message" class="alert">
      <button type="button" class="close close-alert-button"></button>
      <div id="error-display"></div>
    </div>
    <div class="device-pane">
        {{#noDevices}}
        Sorry, no devices found... Please check your network and / or USB ports and try again.
        {{/noDevices}}
        {{#device_types}}
        <div id="t7DeviceListBox" class="device-pane-section connection-type">
            <div class="device-pane-popover">
                <div class="arrow"></div>
                <div class="label">{{name}}</div>
            </div>
            <div class="devices-enumeration-scroller">
                <div class="well {{size}}">
                    {{#devices}}
                    <table class="device"><tr>
                        <td id="image"><img src="static/img/devices/{{ typeStr }}{{specialImageSuffix}}.png"></td>
                        <td class="connection-buttons-holder">
                            <div id="connect-buttons">
                                {{#connections}}
                                <div class="connect-button-holder"><button
                                    id="{{../type}}-{{../serial}}-{{ipSafe}}-{{typeStr}}-{{type}}-{{../origDeviceType}}"
                                    class="btn {{button_class}} connect-button"
                                    title="{{button_title}}"
                                    {{button_state}}
                                    >{{typeStr}}</button></div>
                                {{/connections}}
                            </div>
                            <div id="disconnect-button-holder" class="hidden-button-holder">
                                <div><button class="btn btn-danger disconnect-button" id="{{serial}}-disconnect">
                                    Disconnect
                                </button></div>
                                <div class="current-connection-indicator"></div>
                            </div>
                        </td>
                        <td id="info-holder">
                            <div id="info">
                                <table>
                                    <tbody>
                                        <tr><td class="device-attribute-label">Model</td><td id="type" class="device-attribute-value">{{typeStr}}{{specialText}}</td></tr>
                                        <tr><td class="device-attribute-label">Serial</td><td id="serial" class="device-attribute-value">{{serial}}</td></tr>
                                        <tr><td class="device-attribute-label">Name</td><td id="name" class="device-attribute-value">{{name}}</td></tr>
                                        {{#ethernetIPAddress}}
                                        <tr><td class="device-attribute-label">Eth. IP</td><td id="ethernet-ip-address" class="device-attribute-value">{{../ethernetConnectionStatus}}</td></tr>
                                        {{/ethernetIPAddress}}
                                        {{#if specialText}}{{#if ../wifiIPAddress }}
                                        <tr><td class="device-attribute-label">WiFi IP</td><td id="wifi-ip-address" class="device-attribute-value"><span class="wifiIPAddressText">{{../displayWifiIPAddress}}</span>{{{../button_image}}}</td></tr>
                                        {{/if}}{{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr></table>
                    {{/devices}}
                </div>
            </div>
        </div>
        {{/device_types}}
    </div>
</div>
