.register-overlay {
    position: absolute;
    font-size: 12px;
}

.status-indicator {
	padding:5px;
	min-width:20px;
	font-size: 10px;

}
.state-indicator {
padding: 5px;
min-width: 20px;
font-size: 10px;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
.state-indicator.active {
	background-color:#5BB75B;
	color: white;
}
.state-indicator.inactive {
	background-color:#C0C0C0;
	color: black;
}
#device-display-container-svg {
    shape-rendering: crispEdges;
}
