.device-selector-holder
{
    margin-left: 100px;
    margin-top: 45px;
    
    /*height: 685px;
    margin-bottom: 20px;*/
}
.devices-enumeration-scroller {
    overflow: auto;
    width: 100%;
    height: 100%;
    border-color: #E3E3E3;
    border-width: 1px;
    border-style: solid;
}
.devices-enumeration-scroller .well {
    border: none;
    margin-bottom: 0px;
    padding-right: 0px;
}
.header
{
    margin-bottom: 10px;
}

.device-pane
{
    background-color: white;

    padding: 20px;

    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    /*height: 580px;*/
}
.device-pane-section {
    width:100%;
    width: 100%;
    height: 560px;
    margin-bottom: 20px;
}

.device-type
{
    height: 175px;
}

.device
{
    /*
    height: 205px;
    width: 290px;
    padding-right: 30px;*/
    min-height: 160px;
    padding-bottom: 10px;
    display: inline-block;
    width: 280px;
    padding-right: 10px;
    vertical-align: top;
}

.devices-enumeration
{
    /*overflow: auto;
    width: 90%;
    border-color: #E3E3E3;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    right: 40px;
    left: 140px;*/
}

.devices-enumeration.tall
{
    /*height: 500px;*/
}

.devices-enumeration.short
{
    height: 100px;
}

.device-pane-popover
{
    text-align: right;
    width: 100px;
    height: 10px;
    z-index: 99;
    position: relative;
    top: 50px;
    left: -130px;
}

.device-pane-popover .arrow
{
    width: 0; 
    margin-top: 4px;
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #999999;
    float: right;
}

.device-pane-popover .label
{
    float: right;
}

.device #image
{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.device #image img
{
    width: 100px;
}

.device #name
{
    max-width: 150px;
}

.device #info-holder
{
    display: inline-block;
}

#refresh-button
{
    margin-right: 10px;
}

#connect-buttons
{
    display: none;
}

#finish-button
{
    display: none;
}

#alert-message
{
    display: none;
}

.connect-button
{
    margin-bottom: 3px;
}

.device-load-progress
{
    display: none;
}

.hidden-button-holder
{
    display: none;
}
