#lua-script-window-views {
	width: 100%;
	height: 500px;
}
#lua-code-editor { 
	width: 100%;
	height: 500px;
}
#lua-console-log-editor { 
	width: 100%;
	height: 500px;
}
/* Left portion of module */
#lua-script-module-status-bar {

}

/* Right portion of module */
#lua-script-module-editor-bar {
	
}