#device-selector
{
    background-color: #E0E0E0;
    height: 150px;
    overflow: auto;
    font-size: 16px;
    padding: 20px;
}


#configuration-pane
{
    display: none;
}

.subsection
{
    margin: 50px 0 50px 0;
}

.subsection .controls
{
    margin-top: 10px;
}

.centered-right
{
    padding: 15px 10px 0 0;
    text-align: right;
}

.input-row:nth-child(odd)
{
    background: #F0F0F0;
}