#device-selector
{
    max-height: 150px;
    overflow: auto;
    font-size: 16px;
    padding: 20px;
}

#all-device-configuration-controls
{
    display: none;
}

#individual-device-configuration-controls
{
    display: none;
}

.subsection
{
    margin: 50px 0 50px 0;
}

.subsection .controls
{
    margin-top: 10px;
}

.centered-right
{
    padding: 15px 10px 0 0;
    text-align: right;
}

.input-row:nth-child(odd)
{
    background: #F0F0F0;
}

.input-display
{
    margin-top: 12px;
}

.input-bar
{
    background-color: black;
    height: 3px;
    width: 3px;
}