.ain-config-options {
    display:none;
}
.optionsConfigTable {
	margin-bottom: 15px;
	background-color: transparent;
	margin-top: -5px;
	width:100%;
}
.optionsConfigTable thead {
	border-bottom: none;
	background-color: transparent;
}
.optionsConfigTable td {
	background-color: transparent;
}
.displayed-icon {
	font-size: large;
}
.input-bar
{
    background-color: grey;
    margin-top:8px;
    height:5px;
}
.ain-range-text {
	font-size: xx-small;
	width: 3px;
}
#output-data-table {
	background-color: transparent;
}
#output-data-table .result-text p {
	margin-bottom: -11px;
}
#output-data-table td {
	background-color: transparent;
}
.optionsConfigTable tr {
	background-color: transparent;
}
.optionsConfigTable td {
	background-color: transparent;
}
.ainConfigTable {
	margin-left: 14%;
	width: 86%;
}
